{% extends "market_base.html" %}

{% load static %}
{% load custom_filters %}

{% block title %}Helion | market | hauling{% endblock %}

{% block content %}
<h1>Hauling</h1>

{% include 'market/hauling/_fragment_hauling_form.html' %}
<br>
<table style="width: auto;" class="market">
    <thead>
        <tr>
            <th>item</th>
            <th>price from</th>
            <th>price to</th>
            <th>amount</th>
            <th>unit volume</th>
            <th>total volume</th>
            <th>profit</th>
        </tr>
    </thead>
    <tbody>
        {% for deal in deals %}
        <tr data-type-id="{{ deal.type_id }}">
            <td class="item-name">{% include 'market/_fragment_item_name.html' with item_name=deal.type_id_name type_id=deal.type_id is_trade_item=False show_add_del=False %}</td>
            <td>{{ deal.price_from|isk_value }}</td>
            <td>{{ deal.price_to|isk_value }}</td>
            <td>{{ deal.amount }}</td>
            <td>{{ deal.type_id_vol }}</td>
            <td>{{ deal.total_vol|floatformat:0 }}</td>
            <td>{{ deal.profit|isk_value }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}