{% extends "base.html" %}

{% load custom_filters %}

{% block content %}
<div>
selected token: {{ request.session.esi_token }}
</div>

characters:
{% for token in tokens|dictsort:"character_name" %}
<div class="character">
    <form method="post">
        {% csrf_token %}
        <div class="{% if token.pk == request.session.esi_token %}selected{% endif %}">
            <div>{{ token.character_name }}</div>
            <div>
                <input type="image" formmethod="post" src="https://images.evetech.net/characters/{{ token.character_id }}/portrait?size=64">
            </div>
            <div>
                <input type="hidden" name="_token" value="{{ token.pk }}">
                <button type="submit" title="select" formmethod="post">
                    select
                </button>
            </div>
        </div>
    </form>
</div>
{% endfor %}
<form method="post">
    {% csrf_token %}
    <div>
        <div>add character</div>
        <div>
            <input type="image" formmethod="post" src="https://images.evetech.net/characters/1/portrait?size=64">
        </div>
        <div>
            <input type="hidden" name="_add" value="True">
            <a href="#" type="submit">
                <button type="submit" title="add character" formmethod="post">
                    new
                </button>
            </a>
        </div>
    </div>
</form>

{% if request.session.esi_token != None and character_skills == None%}
<div>
<a href="{% url 'characters' %}?show_skills=true">show character skills xml</a>
</div>
{% endif %}

{% if character_skills %}
<div>
<pre>
{% for skill in character_skills.skills %}{% with skill_names|get_by_key:skill.skill_id as skill_name %}&lt;skill typeID="{{skill.skill_id}}" name="{{skill_name}}" level="{{skill.trained_skill_level}}" activelevel="{{skill.active_skill_level}}" skillpoints="{{skill.skillpoints_in_skill}}" ownsBook="false" isKnown="true" /&gt;{% endwith %}
{% endfor %}
</pre>
</div>
{% endif %}

{% endblock %}

