<tr>
            <th>item</th>
            <th>spr</th>
            <th>profit</th>
            <th>stock</th>
            <th>v</th>
            <th>p</th>
            <th>u</th>
            <th>uc</th>
            <th>uca</th>
            <th data-col="o48">o48</th>
            <th>station</th>
            <th{% if jita_class %} class="jita"{% endif %}>{% if trade_hub_region.name != 'Jita' %}jita{% else %}amarr{% endif %}</th>
            <th colspan="2">best</th>
            <!-- <th>hv</th>
            <th>havgp</th> -->
            <th>hlastp</th>
            <th>v</th>
            <th>p</th>
            <th>u</th>
            <th>uc</th>
            <th>uca</th>
            <th data-col="o48">o48</th>
            <th>station</th>
            <th{% if jita_class %} class="jita"{% endif %}>{% if trade_hub_region.name != 'Jita' %}jita{% else %}amarr{% endif %}</th>
            <th colspan="2">best</th>
            <!-- <th>hv</th>
            <th>havgp</th> -->
            <th>hlastp</th>
            <th>curr</th>
            <th data-col="hvol-other">{% if trade_hub_region.name != 'Jita' %}jita{% else %}amarr{% endif %}</th>
        </tr>