{% extends "market_base.html" %}

{% load static custom_filters %}

{% block title %}Helion | market | station trading | {{ trade_hub_region.name }} | mistakes{% endblock %}

{% block content %}
<h1>Station trading: {{ trade_hub_region.name }} mistakes</h1>
<table>
    <thead>
        <tr>
            <th>item</th>
            <th>sell</th>
            <th>buy</th>
        </tr>
    </thead>
    <tbody>
        {% for result in matching_type_ids %}
        <tr data-type-id="{{result.type_id}}">
            <td class="item-name">{% include 'market/_fragment_item_name.html' with item_name=result.name type_id=result.type_id show_add_del=False %}</td>
            <td>{{ result.highest_buy_price|isk_value }}</td>
            <td>{{ result.lowest_sell_price|isk_value }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock %}

