{% extends "market_base.html" %}

{% load static custom_filters %}

{% block title %}Helion | market | station trading | {{ trade_hub_region.name }}{% endblock %}

{% block js %}
<script src="{% static 'market/js/history_dialog.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Station trading: {{ trade_hub_region.name }}</h1>

<form action="{% url 'market_trade_hub' region_id=trade_hub_region.region_id %}" method="POST">
    {% csrf_token %}
    <label for="market_group_id">Market Group ID</label>
    <input type="number" id="market_group_id" name="market_group_id" value="{{ market_group_id }}">
    <label for="excluded_meta_ids">Excluded Meta IDs</label>
    <input type="text" id="excluded_meta_ids" name="excluded_meta_ids" value="{{ excluded_meta_ids }}">
    <button type="submit">search</button>
</form>

<table class="market">
    <thead>
        <tr>
            <th colspan="4"></th>
            <th colspan="13">sell</th>
            <th colspan="13">buy</th>
            <th colspan="3">hvol</th>
        </tr>
        <tr>
            <th>item</th>
            <th>spr</th>
            <th>profit</th>
            <th>stock</th>
            <th>v</th>
            <th>p</th>
            <th>u</th>
            <th>uc</th>
            <th>uca</th>
            <th>o24</th>
            <th>station</th>
            <th class="jita">jita</th>
            <th colspan="2">best</th>
            <th>hv</th>
            <th>havgp</th>
            <th>hlastp</th>
            <th>v</th>
            <th>p</th>
            <th>u</th>
            <th>uc</th>
            <th>uca</th>
            <th>o24</th>
            <th>station</th>
            <th class="jita">jita</th>
            <th colspan="2">best</th>
            <th>hv</th>
            <th>havgp</th>
            <th>hlastp</th>
            <th>curr</th>
            <th>Jita</th>
            <th>a4e</th>
        </tr>
    </thead>
    <tbody>
        {% include 'market/trade_hub/_fragment_trade_hub_data_rows.html' with item_dict=item_dict item_data=item_data is_trade_items=True %}
    </tbody>
    <tfoot>
        <tr>
            <th>item</th>
            <th>spr</th>
            <th>profit</th>
            <th>stock</th>
            <th>v</th>
            <th>p</th>
            <th>u</th>
            <th>uc</th>
            <th>uca</th>
            <th>o24</th>
            <th>station</th>
            <th>jita</th>
            <th colspan="2">best</th>
            <th>hv</th>
            <th>havgp</th>
            <th>hlastp</th>
            <th>v</th>
            <th>p</th>
            <th>u</th>
            <th>uc</th>
            <th>uca</th>
            <th>o24</th>
            <th>station</th>
            <th>jita</th>
            <th colspan="2">best</th>
            <th>hv</th>
            <th>havgp</th>
            <th>hlastp</th>
            <th>curr</th>
            <th>Jita</th>
            <th>a4e</th>
        </tr>
        <tr>
            <th colspan="4"></th>
            <th colspan="13">sell</th>
            <th colspan="13">buy</th>
            <th colspan="3">hvol</th>
        </tr>
    </tfoot>
</table>

<br>

<table class="market">
    <thead>
        <tr>
            <th colspan="4"></th>
            <th colspan="13">sell</th>
            <th colspan="13">buy</th>
            <th colspan="3">hvol</th>
        </tr>
        <tr>
            <th>item</th>
            <th>spr</th>
            <th>profit</th>
            <th>stock</th>
            <th>v</th>
            <th>p</th>
            <th>u</th>
            <th>uc</th>
            <th>uca</th>
            <th>o24</th>
            <th>station</th>
            <th class="jita">jita</th>
            <th colspan="2">best</th>
            <th>hv</th>
            <th>havgp</th>
            <th>hlastp</th>
            <th>v</th>
            <th>p</th>
            <th>u</th>
            <th>uc</th>
            <th>uca</th>
            <th>o24</th>
            <th>station</th>
            <th class="jita">jita</th>
            <th colspan="2">best</th>
            <th>hv</th>
            <th>havgp</th>
            <th>hlastp</th>
            <th>curr</th>
            <th>Jita</th>
            <th>a4e</th>
        </tr>
    </thead>
    <tbody>
        {% include 'market/trade_hub/_fragment_trade_hub_data_rows.html' with item_dict=item_dict_extra item_data=item_data is_trade_items=False %}
    </tbody>
    <tfoot>
        <tr>
            <th>item</th>
            <th>spr</th>
            <th>profit</th>
            <th>stock</th>
            <th>v</th>
            <th>p</th>
            <th>u</th>
            <th>uc</th>
            <th>uca</th>
            <th>o24</th>
            <th>station</th>
            <th>jita</th>
            <th colspan="2">best</th>
            <th>hv</th>
            <th>havgp</th>
            <th>hlastp</th>
            <th>v</th>
            <th>p</th>
            <th>u</th>
            <th>uc</th>
            <th>uca</th>
            <th>o24</th>
            <th>station</th>
            <th>jita</th>
            <th colspan="2">best</th>
            <th>hv</th>
            <th>havgp</th>
            <th>hlastp</th>
            <th>curr</th>
            <th>Jita</th>
            <th>a4e</th>
        </tr>
        <tr>
            <th colspan="4"></th>
            <th colspan="13">sell</th>
            <th colspan="13">buy</th>
            <th colspan="3">hvol</th>
        </tr>
    </tfoot>
</table>

ISK in escrow: {{ isk_in_escrow|isk_value }}<br />
ISK in sell orders: {{ isk_in_sell_orders|isk_value }}

{% endblock %}

