{% load custom_filters %}

<table class="history">
    <thead>
        <tr>
            <th>date</th>
            <th>qty</th>
            <th>price ea</th>
            <th>location</th>
        </tr>
    </thead>
    {% for transaction in data %}
    {% with location_id_filter="station_id:"|stradd:transaction.location_id %}
    {% with trade_hub=trade_hubs|get_object_by_attr:location_id_filter %}
    <tr data-type-id="{{ transaction.type_id }}">
        <td>{{transaction.date|date:"d/m/Y H:i:s"}}</td>
        <td class="{% if transaction.is_buy %}red{% else %}green{% endif %}">{{transaction.quantity}}</td>
        <td class="{% if transaction.is_buy %}red{% else %}green{% endif %}">{{transaction.unit_price|isk_value}}</td>
        {% if trade_hub %}
        <td>{{ trade_hub.name }}</td>
        {% else %}
        <td class="unknown">{{ transaction.location_id }}</td>
        {% endif %}
    </tr>
    {% endwith %}
    {% endwith %}
    {% endfor %}
</table>