{% extends "market_base.html" %}

{% load static mathfilters custom_filters item_tags %}

{% block title %}shopping | Helion{% endblock %}

{% block js %}
{% endblock %}

{% block content %}
<h1>Shopping list</h1>

<form action="{% url 'shopping_list' %}" method="POST">
  {% csrf_token %}
  <textarea name="items" rows="10" cols="50">{{ items }}</textarea>
  <br>
  <button type="submit">submit</button>
</form>

<br>
    {% if rows %}
        <table>
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Qty</th>
                    {% for name in regions.values %}
                        <th>{{ name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                  <tr {% if row.type_id %}data-type-id="{{ row.type_id }}"{% endif %}>
                      <td class="item-name">
                        {% if row.type_id %}{% item_name row.type_id row.name %}{% else %}{{ row.name }}{% endif %}
                      </td>
                      <td>{{ row.quantity }}</td>
                      {% for region_id in regions %}
                          {% with price=row.prices|get_by_key:region_id %}
                          <td {% if price and row.min_price and price == row.min_price %} class="green" {% endif %}>{% if price %}{{ price|isk_value }}{% else %}-{% endif %}</td>
                          {% endwith %}
                      {% endfor %}
                  </tr>
                {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                  <td><strong>Total</strong></td>
                  <td></td>
                  {% for region_id in regions %}
                    {% with total=region_totals|get_by_key:region_id %}
                    <td {% if total is not None and total == min_region_total %} class="green" {% endif %}><strong>{{ total|isk_value }}</strong></td>
                    {% endwith %}
                  {% endfor %}
              </tr>
          </tfoot>
        </table>
    {% endif %}

{% endblock %}