
{% extends "base.html" %}

{% load static %}

{% block title %}Helion | market{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js"></script>
{% endblock %}

{% block nav %}

        
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
<script src="{% static 'market/js/market.js' %}"></script>
{% endblock %}