<h1>SDE helpers</h1>

<a href="{% url 'import_sde_type_ids' %}">import type ids</a>
<br />
<a href="{% url 'import_sde_market_groups' %}">import market groups</a>
<br />
<a href="{% url 'import_type_materials' %}">import type materials</a>
<br />
<a href="{% url 'import_npc_corporations' %}">import npc corporations</a>
<br />
<a href="{% url 'import_solar_systems' %}">import solar systems</a>
<br />
<a href="{% url 'update_jumps_to_trade_hub' %}">update jumps to trade hub</a>
<br />
<a href="{% url 'sync_trade_items_data' %}">sync trade items data</a>